body{
	background-image: url("glacier.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

header{
	text-align: center;
	color: white;

}
nav{
	text-align: center;
	margin-top: 75px;
}

li{
	display: inline; padding: 160px;
	color: yellow;
}

a{
	color: green;
}